* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	background: blue;
}

li {
	display: inline;
}

#sidebar {
	background: black;
	color: white;
	width: 100px;
	text-align: center;
	font-size: 25px;
}

#content {
	width: 100vw;
}
#quote {
	background: black;
	color: white;
	height: 100px;
}

#navigation {
	list-style-type: none;
}

