* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	background: blue;
}

#sidebar {
	background: black;
	color: white;
	width: 25vw;
	text-align: center;
	font-size: 25px;
}

#quote {
	background: black;
	color: white;
	width: 75vw;
	height: 50px;
}

#navigation {
	display: inline;
	list-style-type: none;
}
